In [48]:
import pandas as pd

In [49]:
spy_data = "Resources/SPY_Data.xlsx"
msft_data = "Resources/MSFT.csv"

In [50]:
spy_data_df = pd.read_excel(spy_data)
msft_data_df = pd.read_csv(msft_data)

In [51]:
spy_data_df["Volume"].describe()

count    2.530000e+02
mean     8.181563e+07
std      3.522618e+07
min      3.484850e+07
25%      5.593880e+07
50%      7.276200e+07
75%      9.968290e+07
max      2.517839e+08
Name: Volume, dtype: float64

In [60]:
bins = [0, 35000000, 70000000, 105000000, 140000000, 175000000, 250000000]

group_labels = ["Low Vol", "A-Low Vol", "L-Avg Vol", "H-Avg Vol", "L-High Vol", "High Vol"]

spy_data_df["Range"] = pd.cut(spy_data_df["Volume"], bins, labels=group_labels)

spy_data_df["%Gain"] = (spy_data_df["Close"] - spy_data_df["Open"]) / spy_data_df["Open"] *100

spy_data_df = spy_data_df.dropna()

spy_data_df

,Date,Open,High,Low,Close,Adj Close,Volume,Gain Next Day,Range,%Gain
1,2021-02-26,384.350006,385.579987,378.230011,380.359985,375.356537,152701600,-11.520020,L-High Vol,-1.038122
2,2021-03-01,385.589996,390.920013,380.570007,389.579987,384.455261,105348800,4.000000,H-Avg Vol,1.034776
3,2021-03-02,389.820007,390.070007,386.000000,386.540009,381.455261,79595300,-4.380004,L-Avg Vol,-0.841413
4,2021-03-03,385.790009,386.829987,381.309998,381.420013,376.402618,119940200,-8.649994,H-Avg Vol,-1.132740
5,2021-03-04,381.220001,384.000000,371.880005,376.700012,371.744720,183433000,-10.129975,High Vol,-1.185664
...,...,...,...,...,...,...,...,...,...,...
248,2022-02-17,443.220001,446.570007,436.420013,437.059998,437.059998,102259100,-11.000000,L-Avg Vol,-1.389830
249,2022-02-18,437.329987,438.660004,431.820007,434.230011,434.230011,132454300,-12.339996,H-Avg Vol,-0.708841
250,2022-02-22,431.890015,435.500000,425.859985,429.570007,429.570007,124391800,-9.089997,H-Avg Vol,-0.537176
251,2022-02-23,432.660004,433.260010,421.350006,421.950012,421.950012,132578000,-13.549988,H-Avg Vol,-2.475383
252,2022-02-24,411.019989,428.760010,410.640015,428.299988,428.299988,213570500,-4.960022,High Vol,4.204175

In [53]:
volume_data = spy_data_df.groupby("Range")

volume_data["Volume"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
Low Vol,1.0,3.484850e+07,NaN,34848500.0,34848500.0,34848500.0,34848500.0,34848500.0
A-Low Vol,116.0,5.445900e+07,8.075166e+06,35970500.0,48435625.0,54738000.0,60179100.0,69806300.0
L-Avg Vol,77.0,8.359176e+07,9.813936e+06,70108200.0,74321400.0,81852400.0,91173100.0,104538900.0
H-Avg Vol,41.0,1.192904e+08,8.852114e+06,105348800.0,113032200.0,118024400.0,124391800.0,137167700.0
L-High Vol,13.0,1.524875e+08,8.946250e+06,140103700.0,147987000.0,152039600.0,153064100.0,167997300.0
High Vol,4.0,1.964164e+08,1.411403e+07,183433000.0,185651575.0,194331150.0,205096025.0,213570500.0

In [54]:
volume_data = spy_data_df.groupby("Range")

volume_data["%Gain"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
Low Vol,1.0,-0.309538,NaN,-0.309538,-0.309538,-0.309538,-0.309538,-0.309538
A-Low Vol,116.0,0.096118,0.380565,-0.928328,-0.170434,0.059825,0.364070,1.108113
L-Avg Vol,77.0,0.044902,0.701963,-1.840053,-0.462972,0.078596,0.691279,1.263861
H-Avg Vol,41.0,-0.218462,1.027874,-2.475383,-0.964632,-0.204588,0.526494,1.549349
L-High Vol,13.0,-0.410282,1.405592,-2.069623,-1.577903,-0.447554,0.325591,2.142465
High Vol,4.0,-0.087043,2.870453,-1.701227,-1.674398,-1.425560,0.161796,4.204175